html {
    overflow-y: scroll;
}

#body {
    display: block;
    margin: 0 auto;
    /* outline: #00FF00 dotted thick; */
    width: 700px;
    margin-top: 1em;
}

body, html {
    background-image: url('images/background.jpg');
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-align: justify;
}

p {
    margin: 0;
    /* font-size: 12px; */
    display: inline;
}

h1 {
    font-weight: bolder;
    margin: 0;
    float: left;
    /* display: inline; */
}